body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Dados{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: #ffff;
  width: 800px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 20px;
  margin-top: 100px;
  border-radius: 5px;
}
